body{
	margin: 0px;
	padding: 0px;
}
*{
	box-sizing: border-box;
}
.slider-main-container{
	height: 100vh;
	overflow: hidden;
	position: relative;
}
.slide{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: none;
}
.slide.active{
	display: flex;
}

.caption-container, .image-container{
	width: 50%;
	height: 100%;
	margin: auto;
	background: #FFF;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}
.caption{
	width: 70%;
	margin: auto;
}
.caption h1{
	font-size: 40px;
	font-family: "Verdana", sans-serif;
	font-weight: bold;
	letter-spacing: -3px;
	margin: 0px;
}
.slide.active .caption h1{
	opacity: 0;
	animation: caption-animation 0.5s ease forwards;
	animation-delay: 0.6s;
}

.caption p{
	font-size: 18px;
	font-family: "Arial", sans-serif;
	font-weight: normal;
	margin: 15px 0px 30px;
	text-align: justify;
}
.slide.active .caption p{
	opacity: 0;
	animation: caption-animation 0.5s ease forwards;
	animation-delay: 0.8s;
}

.caption a{
	font-family: "Arial", sans-serif;
	font-weight: bold;
	padding: 10px 30px;
	background: #000;
	color: #FFF;
	text-decoration: none;
	border: 3px solid #000;
}
.slide.active .caption a{
	opacity: 0;
	animation: caption-animation 0.5s ease forwards;
	animation-delay: 1.2s;
}
@keyframes caption-animation {
	0%{
		opacity: 0;
		transform: translateY(100px);
	}
	100%{
		opacity: 1;
		transform: translateY(0px);
	}
}

.image-container{
	right: 0px;
	background: transparent;
}
.image-container img{
	width: 260px;
	height: 260px;
	margin: auto;
	animation: img-animation 2s ease;
}
@keyframes img-animation {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

.controls .prev,
.controls .next{
	position: absolute;
	z-index: 2;
	bottom: 20px;
	margin: auto;
	text-align: center;
	cursor: pointer;
}
.controls .prev:hover,
.controls .next:hover{
	opacity: 0.8;
}
.controls .prev{
	right: 80px;
}
.controls .next{
	right: 40px;
}
.indicator{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 20px;
	z-index: 2;
}
.indicator div{
	display: inline-block;
	width: 25px;
	height: 25px;
	background: #000;
	border: 3px solid #000;
	border-radius: 50%;
	margin: 0px 3px;
	cursor: pointer;
}
.indicator div.active{
	background: #FFF;
}

@media only screen and (max-width: 1024px) {
	.slider-main-container{
		height: 90vh;
	}
}

@media only screen and (max-width: 980px) {
	.caption-container, .image-container{
		width: 100%;
		left: 0px;
		top: 0px;
	}
	.image-container{
		opacity: 0.3;
	}
	.caption-container{
		background: transparent;
	}
	.caption-container h1{
		font-size: 36px;
	}
}
@media only screen and (max-width: 650px) {
	.caption{
		width: 90%;
	}
	.controls .prev{
		right: 50px;
	}
	.controls .next{
		right: 10px;
	}
}

@media only screen and (max-width: 440px) {
	.caption{
		width: 95%;
	}
	.caption-container h1{
		font-size: 34px;
	}
}
